# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [3]:
X.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14

In [4]:
y.head(3)

   MEDV
0  24.0
1  21.6
2  34.7

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=222)

In [7]:
X_train.shape

(404, 13)

In [8]:
X_test.shape

(102, 13)

In [9]:
y_train.shape

(404, 1)

In [10]:
y_test.shape

(102, 1)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
lr = LinearRegression()

In [13]:
lr = lr.fit(X_train, y_train)
# Make a linear Regression for the training part (80%)

In [14]:
y_pred_test = lr.predict(X_test).round(5)
#Make a prediction of the x_test (20%)

In [15]:
y_pred_train = lr.predict(X_train).round(5)
# Make a prediction of the X_train (80%)

In [16]:
y_pred_test[:10]
# Predictions of the test.

array([[26.48244],
       [28.45103],
       [34.32542],
       [19.72746],
       [27.61669],
       [20.04738],
       [12.9996 ],
       [21.44351],
       [ 3.77732],
       [17.26576]])

In [17]:
y_pred_train[:10]
# Predictions of the train

array([[13.76998],
       [20.08841],
       [28.66276],
       [23.97112],
       [28.61966],
       [17.82309],
       [23.32868],
       [22.07405],
       [30.21953],
       [36.81746]])

## 3. Calculate and print R-squared for both the training and the testing set.

In [18]:
from sklearn import metrics

In [19]:
metrics.r2_score(y_test, y_pred_test).round(3)

0.686

In [20]:
metrics.r2_score(y_train, y_pred_train).round(3)

0.754

## 4. Calculate and print mean squared error for both the training and the testing set.

In [21]:
metrics.mean_squared_error(y_test, y_pred_test).round(3)

28.118

In [22]:
metrics.mean_squared_error(y_train, y_pred_train).round(3)

20.394

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [23]:
metrics.mean_absolute_error(y_train, y_pred_train).round(3)

3.16

In [24]:
metrics.mean_absolute_error(y_test, y_pred_test).round(3)

3.751

## Classification Model Evaluation

In [25]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y  = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [26]:
X.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [27]:
y.head(2)

   class
0      0
1      0

In [28]:
y['class'].unique()

array([0, 1, 2])

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=45)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [31]:
X_train.head(1)

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
76                6.8               2.8                4.8               1.4

In [32]:
y_train.head(1)

    class
76      1

In [33]:
log = LogisticRegression()
log = log.fit(X_train, y_train['class'])
#construir nuestra logistic regresion con x train y y train

In [34]:
y_pred_test = log.predict(X_test).round(5)
#Make a prediction of the x_test (20%)

In [35]:
y_pred_train = log.predict(X_train).round(5)
#Make a prediction of the x_train (80%)

In [36]:
y_pred_train[:4]

array([1, 1, 1, 2])

In [37]:
y_pred_test[:4]

array([0, 0, 2, 0])

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
accuracy_score(y_train, y_pred_train)

0.9666666666666667

In [40]:
accuracy_score(y_test, y_pred_test)

0.9666666666666667

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [41]:
from sklearn.metrics import balanced_accuracy_score

In [42]:
balanced_accuracy_score(y_train, y_pred_train)

0.9669522643818849

In [43]:
balanced_accuracy_score(y_test, y_pred_test)

0.9722222222222222

## 10. Calculate and print the precision score for both the training and the testing set.

In [44]:
from sklearn.metrics import precision_score

In [47]:
precision_score(y_train, y_pred_train, average= 'weighted')

0.9666666666666667

In [49]:
precision_score(y_test, y_pred_test, average= 'weighted' )

0.9708333333333333

## 11. Calculate and print the recall score for both the training and the testing set.

In [50]:
from sklearn.metrics import recall_score

In [52]:
recall_score(y_train, y_pred_train, average= 'weighted')

0.9666666666666667

In [54]:
recall_score(y_test, y_pred_test, average= 'weighted')

0.9666666666666667

## 12. Calculate and print the F1 score for both the training and the testing set.

In [55]:
from sklearn.metrics import f1_score

In [56]:
f1_score(y_train, y_pred_train, average= 'weighted')

0.9666666666666667

In [57]:
f1_score(y_test, y_pred_test, average= 'weighted')

0.9670531400966184

## 13. Generate confusion matrices for both the training and the testing set.

In [66]:
X_train.shape

(120, 4)

In [67]:
y_train.shape

(120, 1)

In [68]:
X_test.shape

(30, 4)

In [69]:
y_test.shape

(30, 1)

In [71]:
pd.crosstab(y_pred_train, y_train['class'])

class   0   1   2
row_0
0      39   0   0
1       0  41   2
2       0   2  36

In [ ]:
pd.crosstab(y_pred_test, y_test['class'])

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.