# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [91]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np
from sklearn.linear_model import LogisticRegression
import seaborn as sns
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score

## Regression Model Evaluation

In [42]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [43]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=666)

In [11]:
X_train.shape

(404, 13)

In [12]:
X_test.shape

(102, 13)

In [13]:
y_train.shape

(404, 1)

In [14]:
y_test.shape

(102, 1)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

###  TEST

In [16]:
lr = LinearRegression()

In [18]:
lr.fit(X_test, y_test)

LinearRegression()

In [19]:
y_pred = lr.predict(X_test).round(1)

In [25]:
y_test[:10]

     MEDV
81   23.9
453  17.8
311  22.1
291  37.3
360  25.0
50   19.7
127  16.2
35   18.9
252  29.6
442  18.4

In [23]:
y_pred[0:10]

array([[26.2],
       [20.6],
       [27. ],
       [33.8],
       [23.2],
       [21.4],
       [13.6],
       [24.4],
       [25.5],
       [18.7]])

### Train

In [27]:
lr2 = LinearRegression()

In [28]:
lr.fit(X_train, y_train)

LinearRegression()

In [29]:
y_pred2 = lr.predict(X_train).round(1)

In [30]:
y_train[:10]

     MEDV
287  23.2
466  19.0
17   17.5
184  26.4
18   20.2
218  21.5
44   21.2
312  19.4
97   38.7
479  21.4

In [31]:
y_pred2[:10]

array([[27. ],
       [13.4],
       [17. ],
       [22.6],
       [15.6],
       [25.3],
       [22.9],
       [23.5],
       [36.2],
       [22.1]])

## 3. Calculate and print R-squared for both the training and the testing set.

In [32]:
metrics.r2_score(y_test, y_pred).round(3)

0.701

In [34]:
metrics.r2_score(y_train, y_pred2).round(3)

0.761

## 4. Calculate and print mean squared error for both the training and the testing set.

In [35]:
metrics.mean_squared_error(y_test, y_pred).round(3)

22.221

In [36]:
metrics.mean_squared_error(y_train, y_pred2).round(3)

20.802

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [37]:
metrics.mean_absolute_error(y_test, y_pred).round(3)

3.308

In [38]:
metrics.mean_absolute_error(y_train, y_pred2).round(3)

3.216

## Classification Model Evaluation

In [47]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data2 = pd.concat([X, y], axis=1)

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [48]:
data2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=666)

In [50]:
X_train.shape

(120, 4)

In [51]:
X_test.shape

(30, 4)

In [53]:
y_train.shape

(120, 1)

In [54]:
y_test.shape

(30, 1)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

### Train

In [56]:
log = LogisticRegression()

In [57]:
log.fit(
    X=X_train,
    y=y_train
)

/home/lukesmith194/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/lukesmith194/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [68]:
y_log_pred = log.predict(X_train)

In [69]:
metrics.r2_score(y_train, y_log_pred).round(3)

0.963

### Test

In [61]:
log2 = LogisticRegression()

In [62]:
log2.fit(
    X=X_test,
    y=y_test
)

/home/lukesmith194/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [70]:
y_log_pred2 = log.predict(X_test)

In [71]:
metrics.r2_score(y_test, y_log_pred2).round(3)

1.0

In [84]:
#data2

In [83]:
#sns.pairplot(data=data2, hue="class")

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [73]:
metrics.accuracy_score(y_test, y_log_pred2).round(3)

1.0

In [86]:
metrics.accuracy_score(y_train, y_log_pred).round(3)

0.975

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [89]:
metrics.balanced_accuracy_score(y_test, y_log_pred2).round(3)

1.0

In [90]:
metrics.balanced_accuracy_score(y_train, y_log_pred).round(3)

0.974

## 10. Calculate and print the precision score for both the training and the testing set.

Precision is for binary, not for multiclass

In [113]:
precision_score(
    y_true= y_test,
    y_pred= y_log_pred2,
    average = "macro"
).round(3)

1.0

In [112]:
precision_score(
    y_true= y_train,
    y_pred= y_log_pred,
    average = "macro"
).round(3)

0.977

## 11. Calculate and print the recall score for both the training and the testing set.

In [111]:
recall_score(
    y_true= y_test,
    y_pred= y_log_pred2,
    average = "macro"
).round(3)

1.0

In [110]:
recall_score(
    y_true= y_train,
    y_pred= y_log_pred,
    average = "macro"
).round(3)

0.974

## 12. Calculate and print the F1 score for both the training and the testing set.

In [108]:
f1_score(
    y_true= y_train,
    y_pred= y_log_pred,
    average = "macro"
).round(3)

0.974

In [109]:
f1_score(
    y_true= y_test,
    y_pred= y_log_pred2,
    average = "macro"
).round(3)

1.0

## 13. Generate confusion matrices for both the training and the testing set.

In [115]:
pd.crosstab(y_test["class"], y_log_pred2)

col_0  0   1   2
class
0      8   0   0
1      0  12   0
2      0   0  10

In [116]:
pd.crosstab(y_train["class"], y_log_pred)

col_0   0   1   2
class
0      42   0   0
1       0  35   3
2       0   0  40

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.