# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [17]:
data.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [3]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=666)

In [42]:
X_train.shape

(404, 13)

In [43]:
X_test.shape

(102, 13)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
model = LinearRegression()

In [46]:
model.fit(X_train, y_train)

LinearRegression()

In [47]:
pd.Series(model.coef_[0], index=X_train.columns)

CRIM       -0.075686
ZN          0.049331
INDUS       0.068590
CHAS        2.558761
NOX       -16.040065
RM          4.096930
AGE         0.006557
DIS        -1.417428
RAD         0.292373
TAX        -0.014186
PTRATIO    -0.968020
B           0.011681
LSTAT      -0.533536
dtype: float64

In [48]:
model.fit(X_test, y_test)

LinearRegression()

In [49]:
pd.Series(model.coef_[0], index=X_test.columns)

CRIM       -0.240779
ZN          0.040604
INDUS      -0.135881
CHAS        0.131303
NOX       -17.884327
RM          2.311960
AGE        -0.029789
DIS        -1.626928
RAD         0.409494
TAX        -0.009182
PTRATIO    -0.814998
B          -0.003697
LSTAT      -0.538512
dtype: float64

## 3. Calculate and print R-squared for both the training and the testing set.

In [50]:
from sklearn import metrics

In [51]:
y_train_pred = model.predict(X_train)

In [52]:
y_test_pred = model.predict(X_test)

In [53]:
metrics.r2_score(y_train, y_train_pred)

0.6854173851256531

In [54]:
metrics.r2_score(y_test, y_test_pred)

0.7011458785949372

## 4. Calculate and print mean squared error for both the training and the testing set.

In [55]:
metrics.mean_squared_error(y_train, y_train_pred)

27.352235106252657

In [56]:
metrics.mean_squared_error(y_test, y_test_pred)

22.190860979120544

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [57]:
metrics.mean_absolute_error(y_train, y_train_pred)

3.7301929740576814

In [58]:
metrics.mean_absolute_error(y_test, y_test_pred)

3.304001885087775

## Classification Model Evaluation

In [78]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [79]:
data.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=666)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [81]:
from sklearn.linear_model import LogisticRegression

In [82]:
logmodel = LogisticRegression(max_iter=10000)

In [83]:
logmodel.fit(X_train, y_train)

/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(max_iter=10000)

In [84]:
logmodel.fit(X_test, y_test)

/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(max_iter=10000)

In [85]:
y_train_pred = logmodel.predict(X_train)

In [86]:
y_test_pred = logmodel.predict(X_test)

In [87]:
y_test_pred

array([1, 2, 1, 2, 0, 1, 1, 2, 1, 1, 1, 0, 0, 0, 2, 1, 0, 2, 2, 2, 1, 0,
       2, 0, 1, 1, 0, 1, 2, 2])

In [95]:
y_train_pred

array([0, 0, 1, 2, 1, 1, 2, 2, 0, 1, 2, 2, 1, 1, 0, 0, 0, 0, 1, 0, 0, 2,
       1, 1, 1, 0, 0, 2, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 2, 2, 2, 1, 1, 2,
       2, 0, 1, 2, 0, 0, 1, 0, 1, 2, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 2, 1,
       1, 2, 2, 2, 0, 1, 2, 1, 1, 2, 2, 1, 1, 1, 0, 2, 0, 1, 1, 2, 0, 2,
       2, 0, 2, 2, 1, 0, 0, 2, 0, 0, 0, 2, 0, 2, 1, 2, 0, 0, 0, 2, 2, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 2])

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [73]:
from sklearn.metrics import accuracy_score

In [74]:
accuracy_score(y_train, y_train_pred)

0.9333333333333333

In [75]:
accuracy_score(y_test, y_test_pred)

1.0

In [76]:
metrics.mean_absolute_error(y_test, y_test_pred)

0.0

In [99]:
pd.crosstab(
    y_test['class'],
    y_test_pred
)

col_0  0   1   2
class
0      8   0   0
1      0  12   0
2      0   0  10

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [ ]:
from sklearn.metrics import balanced_accuracy_score

In [101]:
balanced_accuracy_score(y_train, y_train_pred)

0.9328947368421053

In [102]:
balanced_accuracy_score(y_test, y_test_pred)

1.0

## 10. Calculate and print the precision score for both the training and the testing set.

In [109]:
from sklearn.metrics import precision_score

In [114]:
precision_score(y_train, y_train_pred, average='macro')

0.9371657754010695

In [115]:
precision_score(y_test, y_test_pred, average='macro')

1.0

## 11. Calculate and print the recall score for both the training and the testing set.

In [116]:
from sklearn.metrics import recall_score

In [117]:
recall_score(y_train, y_train_pred, average='macro')

0.9328947368421053

In [118]:
recall_score(y_test, y_test_pred, average='macro')

1.0

## 12. Calculate and print the F1 score for both the training and the testing set.

In [119]:
from sklearn.metrics import f1_score

In [120]:
f1_score(y_train, y_train_pred, average='macro')

0.931443638760712

In [121]:
f1_score(y_test, y_test_pred, average='macro')

1.0

In [139]:
cross_validate(logmodel, X, y, cv=10)["test_score"].mean()

/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.9733333333333334

## 13. Generate confusion matrices for both the training and the testing set.

In [122]:
pd.crosstab(
    y_train['class'],
    y_train_pred
)

col_0   0   1   2
class
0      42   0   0
1       0  37   1
2       0   7  33

In [123]:
pd.crosstab(
    y_test['class'],
    y_test_pred
)

col_0  0   1   2
class
0      8   0   0
1      0  12   0
2      0   0  10

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [129]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

In [147]:
decision_tree = DecisionTreeClassifier(random_state=666, max_depth=3)

In [148]:
decision_ = decision_tree.fit(X, y)

In [149]:
decision_

DecisionTreeClassifier(max_depth=3, random_state=666)

In [150]:
from sklearn.model_selection import cross_validate

In [158]:
cross_validate(decision_, X, y, cv=10)["test_score"].mean()

0.96

In [159]:
from sklearn import svm

In [160]:
svm_model = svm.SVC()

In [161]:
svm_model.fit(X, y)

/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVC()

In [163]:
cross_validate(svm_model, X, y, cv=10)["test_score"].mean()

/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/julian/miniconda3/envs/ironcon/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.9733333333333334